.messages {
  display: grid;
  grid-gap: var(--vertical-padding);
  grid-row-start: 1;
}

@media screen and (min-width: 800px) {
  .messages {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
  }
}

.message {
  display: grid;
  background-color: var(--message-background-color);
  border-top: 6px solid var(--user-color);
  border-bottom: 1px solid var(--user-color);
  border-radius: 3px;
}

.message .details {
  grid-row-start: 1;
  padding: var(--vertical-padding) var(--horizontal-padding);
  background-color: var(--grey-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message .user {
  margin-right: auto;
}

.message .created-at {
  font-size: var(--font-size-small);
  margin-right: var(--horizontal-padding);
}

.message .likes {
  background-color: var(--likes-color);
  padding: 0 var(--horizontal-padding);
  color: var(--likes-text-color);
}

.message .likes.likes-self {
  background-color: var(--likes-self-color);
}

.message .photo {
  display: block;
  width: 100%;
}

.message .body {
  line-height: var(--body-font-line-height);
  padding: var(--vertical-padding) var(--horizontal-padding);
}
