body {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--font-size);
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-gap: var(--vertical-padding);
}

@media screen and (min-width: 800px) {
  .app {
    display: grid;
    grid-template-columns: repeat(12, 1fr [col-start]);
  }
}

@media screen and (min-width: 1000px) {
  .app {
    width: var(--width-max-screen);
    margin: 0 auto;
  }
}
