.users {
  display: grid;
  grid-gap: var(--vertical-padding-small);
  grid-row-start: 2;
}

@media screen and (min-width: 800px) {
  .users {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    align-content: start;
  }
}

.users .user .heading {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-lighter);
  padding: var(--vertical-padding) var(--horizontal-padding);
  cursor: pointer;
}

.users .user .details {
  display: none;
  background-color: var(--white);
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.users .user.is-active .details {
  display: block;
}

.users .user .details dl {
  margin: 0 0 var(--vertical-padding);
}

.users .user .details dd {
  margin: 0;
}

.user-1 {
  --user-color: #d02432;
}

.user-3 {
  --user-color: #f28c40;
}

.user-9 {
  --user-color: #fae200;
}
