:root {
  /* fonts */
  --body-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-size: 18px;
  --font-size-small: 15px;
  --body-font-line-height: 1.4;

  /* colours */
  --page-background-color: #add8e6;
  --message-background-color: #ffffff;
  --text-color: #0e252d;
  --grey-lighter: #eeeeee;
  --user-color: var(--grey-lighter);
  --white: #ffffff;
  --likes-text-color: var(--white);
  --likes-color: #337ab7;
  --likes-self-color: #333333;

  /* spacing */
  --horizontal-padding-small: 6px;
  --horizontal-padding: 10px;
  --horizontal-padding-large: 20px;
  --vertical-padding-small: 6px;
  --vertical-padding: 10px;
  --vertical-padding-large: 20px;

  /* widths */
  --width-mobile: 400px;
  --width-tablet: 600px;
  --width-desktop: 800px;
  --width-max-screen: 1000px;
}

